#id {
    background: url(some/image/that/doesnt/exist1.png);
    background: url(some/image/that/doesnt/exist2.png);
    background: url(some/image/that/doesnt/exist3.png);
    background: url(some/image/that/doesnt/exist4.png);
    background: url(some/image/that/doesnt/exist5.png);
}
