#id {
    background: url(some/image/that/doesnt/exist.png);
    background: url(some/image/that/doesnt/exist.png);
    background: url(some/image/that/doesnt/exist.png);
    background: url(some/image/that/doesnt/exist.png);
    background: url(some/image/that/doesnt/exist.png);
}
